<div class="sec-footer-2021 wf-section"><img src="{{ images.-54678bb9.url }}" loading="lazy" alt="{{ images.-54678bb9.alt | trim | escape }}" class="img-footer-blue-slant">
    <div class="div-footer-main">
      <a href="{{ links.2f }}" aria-current="page" class="link-footer-logo w-inline-block w--current">
        <div class="text-block-40">{{ texts.-4171e6 }}</div>
      </a>
      <div class="con-footer-2021 w-container">
        <div class="w-layout-grid grid-footer-explore">
          <div class="div-footer-newsletter w-clearfix">
            <h6 class="h6-footer">{{ texts.-5a055b12 }}</h6>
            <p class="paragraph-10">{{ texts.627ec2a5 }}</p>
            <div class="form-block-footer w-form">
              <form id="email-form" name="email-form" data-name="email" method="post" class="form w-clearfix" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded"><input type="text" class="text-field-signup w-input" maxlength="256" name="EMAIL-2" data-name="EMAIL 2" placeholder="البريد الإلكتروني" id="EMAIL-2" required=""><input type="submit" value="S" data-wait="Hang on one sec..." class="submit-button-signup w-button"></form>
              <div class="success-message w-form-done">
                <div>{{ texts.5a0ea5a1 }}</div>
              </div>
              <div class="w-form-fail">
                <div>{{ texts.-7c112e99 }}</div>
              </div>
            </div>
          </div>
          <div class="div-footer-explore">
            <h6 class="h6-footer">{{ texts.-6b4b4162 }}</h6>
            <div class="w-layout-grid grid-footer-explore-2">
              <div class="div-footer-explore-column">
                <a href="{{ links.6ffc53a9 }}" class="link-footer-explore-single bold"><strong class="bold-text-10">{{ texts.-8f795da }}</strong></a>
                <a href="{{ links.-1431b2c7 }}" class="link-footer-explore-single bold">{{ texts.-2e65257b }}</a>
                <a href="{{ links.55b8e8be }}" class="link-footer-explore-single bold">{{ texts.b606e80 }}</a>
              </div>
              <div class="div-footer-explore-column">
                <a href="{{ links.1153dc30 }}" class="link-footer-explore-single"><strong class="bold-text-9">{{ texts.5ac2d3a3 }}</strong><br></a>
                <a href="{{ links.60536ca2 }}" class="link-footer-explore-single"><strong class="bold-text-8">{{ texts.2ecd1ba4 }}</strong><br></a>
                <a href="{{ links.-7ebab8bb }}" class="link-footer-explore-single"><strong class="bold-text-7">{{ texts.-45367940 }}</strong><br></a>
              </div>
              <div id="w-node-a28bec4f-f801-cc7a-4c19-7537b1600896-b160085d" class="div-footer-explore-column">
                <div class="link-footer-explore-single bold"><a href="{{ links.2f8d62f2 }}" class="link-footer-explore-single"><strong class="bold-text-9">{{ texts.65a35ddc }}</strong></a></div>
                <a href="{{ links.2f8d62f2 }}" class="link-footer-explore-single"><strong class="bold-text-8">{{ texts.759343ac }}</strong></a>
                <a href="{{ links.1889f6d7 }}" class="link-footer-explore-single"><strong class="bold-text-7">{{ texts.1d7a967b }}<br></strong></a>
              </div>
            </div>
          </div>
        </div>
        <div class="div-footer-connect">
          <h6 class="h6-footer">{{ texts.43c7525d }}</h6>
          <div class="div-footer-connect-container">
            <a href="{{ links.-394a0565 }}" class="w-inline-block"><img src="{{ images.2dcaa813.url }}" loading="lazy" width="40" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;40px&quot;}]" alt="{{ images.2dcaa813.alt | trim | escape }}" class="img-footer-connect"></a>
            <a href="{{ links.73a5cff4 }}" class="w-inline-block"><img src="{{ images.36c5d81b.url }}" loading="lazy" width="40" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;40px&quot;}]" alt="{{ images.36c5d81b.alt | trim | escape }}" class="img-footer-connect"></a>
            <a href="{{ links.-45cf2ed4 }}" class="w-inline-block"><img src="{{ images.63d353d4.url }}" loading="lazy" width="40" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;40px&quot;}]" alt="{{ images.63d353d4.alt | trim | escape }}" class="img-footer-connect"></a>
          </div>
        </div>
        <div class="div-footer-trademark">{{ texts.-339b8d36 }}</div>
        <div class="div-footer-trademark copy-r">{{ texts.-32fa2acd }}</div>
        <div class="div-footer-explore-column toc">
          <a href="{{ links.618fe506 }}" class="link-footer-explore-single"><strong class="bold-text-8 cn">{{ texts.65a35ddc }}<br></strong></a>
          <a href="{{ links.-57a39eba }}" class="link-footer-explore-single"><strong class="bold-text-8 cn">{{ texts.759343ac }}</strong></a>
          <a href="{{ links.5e5270da }}" class="link-footer-explore-single"><strong class="bold-text-7 cn">{{ texts.1d7a967b }}<br></strong></a>
        </div>
      </div>
    </div>
  </div>
