<div class="header wf-section">
    <div data-animation="over-left" class="navbar w-nav" data-easing2="ease" data-easing="ease" data-collapse="all" data-w-id="1a501d9a-5465-30f2-6b4c-ec1907aa622e" role="banner" data-no-scroll="1" data-duration="300" data-doc-height="1">
      <div class="nav-main-container w-clearfix">
        <div class="menu w-nav-button">
          <div class="burger-1">
            <div data-w-id="6cd4522c-1cf5-aeb8-743c-12717e82582b" class="b1-bar1"></div>
            <div data-w-id="6cd4522c-1cf5-aeb8-743c-12717e82582c" class="b1-bar2">
              <div class="b1-middle"></div>
            </div>
            <div data-w-id="6cd4522c-1cf5-aeb8-743c-12717e82582e" class="b1-bar3"></div>
          </div>
        </div>
        <a href="{{ links.23 }}" class="brand w-nav-brand"><img src="{{ images.-75b0e514.url }}" alt="{{ images.-75b0e514.alt | trim | escape }}" class="image"></a>
        <div class="desktop-nav hide-on-mobile">
          <a href="{{ links.23 }}" class="desktop-nav-link w-inline-block">
            <div>{{ texts.-4080dc20 }}</div>
          </a>
          <a href="{{ links.23 }}" class="desktop-nav-link w-inline-block">
            <div>{{ texts.-59ef1272 }}</div>
          </a>
          <a href="{{ links.23 }}" class="desktop-nav-link w-inline-block">
            <div>{{ texts.21cdaf }}</div>
          </a>
          <a href="{{ links.23 }}" class="desktop-nav-link w-inline-block">
            <div>{{ texts.433b03c }}</div>
          </a>
          <a href="{{ links.23 }}" class="desktop-nav-link w-inline-block">
            <div>{{ texts.-2a73cdbc }}</div>
          </a>
          <a href="{{ links.23 }}" class="desktop-nav-link w-inline-block">
            <div>{{ texts.3c6cdb60 }}</div>
          </a>
          <a href="{{ links.23 }}" class="desktop-nav-link w-inline-block">
            <div>{{ texts.374a218c }}</div>
          </a>
        </div>
        <div class="desktop-nav right">
          <a href="{{ links.23 }}" class="desktop-nav-link hide-on-mobile w-inline-block">
            <div>{{ texts.-204ff998 }}</div>
          </a>
          <div class="separator vertical hide-on-mobile"></div>
          <a href="{{ links.23 }}" class="desktop-nav-link cta w-inline-block">
            <div>{{ texts.-69de02d6 }}</div>
          </a>
          <a href="{{ links.23 }}" class="search hide-on-mobile w-inline-block">
            <div><strong>{{ texts.f002 }}</strong></div>
          </a>
        </div>
      </div>
      <div class="dropdown-underlay"></div>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <div class="nav-left">
          <div class="nav-container">
            <a href="{{ links.23 }}" class="main-nav-link w-nav-link">{{ texts.-4080dc20 }}</a>
            <a href="{{ links.23 }}" class="main-nav-link w-nav-link">{{ texts.-59ef1272 }}</a>
            <a href="{{ links.23 }}" class="main-nav-link w-nav-link">{{ texts.21cdaf }}</a>
            <a href="{{ links.23 }}" class="main-nav-link w-nav-link">{{ texts.433b03c }}</a>
            <a href="{{ links.23 }}" class="main-nav-link w-nav-link">{{ texts.-2a73cdbc }}</a>
            <a href="{{ links.23 }}" class="main-nav-link w-nav-link">{{ texts.3c6cdb60 }}</a>
            <a href="{{ links.23 }}" class="main-nav-link w-nav-link">{{ texts.374a218c }}</a>
          </div>
          <div class="divider horizontal"></div>
          <div class="nav-container">
            <a href="{{ links.23 }}" class="subnav-link">{{ texts.-204ff5b8 }}</a>
            <a href="{{ links.23 }}" class="subnav-link">{{ texts.-69de02d6 }}</a>
            <a href="{{ links.23 }}" class="subnav-link">{{ texts.4984e12 }}</a>
            <a href="{{ links.23 }}" class="subnav-link">{{ texts.4ed245b }}</a>
            <a href="{{ links.23 }}" class="subnav-link">{{ texts.4ed245b }}</a>
            <a href="{{ links.23 }}" class="subnav-link">{{ texts.-1f95e1e4 }}</a>
            <a href="{{ links.23 }}" class="subnav-link">{{ texts.1c83b0e5 }}</a>
            <a href="{{ links.23 }}" class="subnav-link">{{ texts.-b5f04c }}</a>
            <a href="{{ links.23 }}" class="subnav-link">{{ texts.-5c07faeb }}</a>
            <a href="{{ links.23 }}" class="subnav-link">{{ texts.-63af3b13 }}</a>
          </div>
          <div class="divider horizontal thicker"></div>
          <div class="socials sidebar">
            <a href="{{ links.23 }}" class="social-link sidebar w-inline-block">
              <div>{{ texts.f39e }}</div>
            </a>
            <a href="{{ links.23 }}" class="social-link sidebar w-inline-block">
              <div>{{ texts.f099 }}</div>
            </a>
            <a href="{{ links.23 }}" class="social-link sidebar w-inline-block">
              <div>{{ texts.f231 }}</div>
            </a>
            <a href="{{ links.23 }}" class="social-link sidebar w-inline-block">
              <div>{{ texts.f167 }}</div>
            </a>
            <a href="{{ links.23 }}" class="social-link sidebar w-inline-block">
              <div>{{ texts.f16d }}</div>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>