<div class="section-shared-navigation wf-section">
    <div class="con-shared-navigation w-container">
      <div class="div-shared-navigation-main-container">
        <a href="{{ links.2f }}" class="a-shared-navigation-main w-nav-brand">
          <div class="text-block-38">{{ texts.-4171e6 }}</div>
        </a>
        <div class="div-shared-navigation-main-link-container">
          <a href="{{ links.-5562b58d }}" class="a-shared-navigation-single-link space-right"><strong>{{ texts.-7a838791 }}</strong></a>
          <a href="{{ links.63a7e891 }}" class="a-shared-navigation-single-link space-right"><strong>{{ texts.-ddf77f }}</strong></a>
          <a href="{{ links.-c36a5b6 }}" class="a-shared-navigation-single-link space-right"><strong>{{ texts.-45367940 }}</strong></a>
          <a href="{{ links.-210cc81e }}" class="a-shared-navigation-single-link space-right"><strong>{{ texts.2ecd1ba4 }}</strong></a>
          <a href="{{ links.1eae7537 }}" class="a-shared-navigation-single-link space-right"><strong>{{ texts.5ac2d3a3 }}</strong></a>
          <a href="{{ links.519b7481 }}" class="a-shared-navigation-single-link space-right"><strong>{{ texts.772ff2da }}</strong></a>
          <a href="{{ links.-7fc0b969 }}" class="w-inline-block"><img src="{{ images.34a4625f.url }}" loading="lazy" width="20" height="20" data-sizes="[{&quot;max&quot;:991,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;20px&quot;}]" alt="{{ images.34a4625f.alt | trim | escape }}" class="image-85"></a>
        </div>
      </div>
    </div>
    <div class="con-home-navigation-mobile w-container">
      <div class="div-home-navigation-mobile-container-full">
        <a href="{{ links.2f }}" class="link-block-home-navigation-logo-mobile w-inline-block">
          <div class="text-home-navigation-logo home">{{ texts.-4171e6 }}<p class="ISSN">ISNN 2811 - 6550</p></div><p class="ISSN">ISNN 2811 - 6550</p>
        </a>
        <a data-w-id="06f108e7-ed26-aa3f-af45-7f3273d57e79" href="{{ links.23 }}" class="link-block-home-navigation-menu-mobile w-inline-block"><img src="{{ images.74f30c31.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;6vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;15px&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;2vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" alt="{{ images.74f30c31.alt | trim | escape }}" class="img-home-navigation-menu-icon-mobile"></a>
      </div>
    </div>
    <div class="div-home-navigation-mobile-side">
      <div class="div-home-navigation-mobile-side-inner">
        <a href="{{ links.2f }}" class="link-block-home-navigation-side-logo-container w-inline-block">
          <div class="text-home-navigation-side-logo-text">{{ texts.-4171e6 }}</div>
        </a>
        <a href="/" class="a-home-navigation-side-single">{{ texts.772ff2da }}</a>
        <a href="{{ links.63a5aea3 }}" class="a-home-navigation-side-single">{{ texts.5ac2d3a3 }}</a>
        <a href="/tag/dialogues-and-discussions/" class="a-home-navigation-side-single">{{ texts.2ecd1ba4 }}</a>
        <a href="/tag/tunisia-news/" class="a-home-navigation-side-single">{{ texts.-45367940 }}</a>
        <a href="/tag/research-and-studies/" class="a-home-navigation-side-single">{{ texts.-ddf77f }}</a>
        <a href="/tag/book-reviews/" class="a-home-navigation-side-single">{{ texts.-7a838791 }}</a>
        <a href="/issues/" class="a-home-navigation-side-single">{{ texts.-8f795da }}</a>
        <div class="div-navigation-mobile-site-search">
          <a href="{{ links.a992006 }}" class="w-inline-block"><img src="{{ images.3770bac9.url }}" loading="lazy" width="20" height="20" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" alt="{{ images.3770bac9.alt | trim | escape }}" class="image-84"></a>
          <a href="{{ links.a992006 }}" class="a-navigation-mobile-site-search">{{ texts.-312b3949 }}</a>
        </div>
      </div>
    </div>
    <div data-w-id="06f108e7-ed26-aa3f-af45-7f3273d57e96" class="div-home-navigation-mobile-black-background"></div>
  </div>
