<div class="sec-shared-top-promo wf-section">
    <a href="{{ links.23 }}" class="link-block-33 w-inline-block">
      <div class="con-shared-top-promo w-container">
        <div class="div-shared-top-promo-container">
          <div class="div-shared-top-promo-img-container"><img src="{{ images.3d779952.url }}" loading="lazy" alt="{{ images.3d779952.alt | trim | escape }}" class="img-shared-top-promo"><img src="{{ images.-5070b8e0.url }}" loading="lazy" alt="{{ images.-5070b8e0.alt | trim | escape }}" class="img-shared-top-promo"><img src="{{ images.-46028612.url }}" loading="lazy" alt="{{ images.-46028612.alt | trim | escape }}" class="img-shared-top-promo"></div>
          <div class="div-shared-top-promo-text-container w-clearfix">
            <h4 class="h4-shared-top-promo">{{ texts.-2d588b4a }}</h4>
            <div class="text-shared-top-promo">{{ texts.-3d3f32ef }}</div>
          </div>
        </div>
      </div>
    </a>
  </div>